# {{ project_name }}

[![Documentation Status](https://readthedocs.org/projects/{{ project_name }}/badge/?version=latest)](https://{{ project_name }}.readthedocs.io/en/latest/?badge=latest)
[![Code style: ruff-format](https://img.shields.io/badge/code%20style-ruff_format-6340ac.svg)](https://github.com/astral-sh/ruff)
[![PyPI](https://img.shields.io/pypi/v/{{ project_name }})](https://pypi.org/project/{{ project_name }})

{{ short_description}}

## Installation

To install, run

```
$ uv pip install {{ project_name }}
```

## Development

To run style checks:

```
$ uv tool install pre-commit
$ pre-commit run -a
```

## Overview

Add a longer description here.
