# {{ project_name }}

[![Documentation Status](https://readthedocs.org/projects/{{ project_name }}/badge/?version=latest)](https://{{ project_name }}.readthedocs.io/en/latest/?badge=latest)
[![Code style: black](https://img.shields.io/badge/code%20style-black-000000.svg)](https://github.com/psf/black)
[![PyPI](https://img.shields.io/pypi/v/{{ project_name }})](https://pypi.org/project/{{ project_name }})

{{ short_description}}

## Installation

To install, run

```
(.venv) $ pip install {{ project_name }}
```

## Development

To run style checks:

```
(.venv) $ pip install pre-commit
(.venv) $ pre-commit -a
```

## Overview

Add a longer description here.
